<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="se.rende.mytime.export">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MyTimeExport"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="se.rende.mytime.PLUGIN" />
            </intent-filter>
        </activity>

        <activity android:name=".Importer"
                  android:label="@string/activity_name_import">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="text/xml" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 